.content-animation-config {
    animation-duration: 300ms;
}

.divider {
    height: 3%;
}

.lbl-titulo {
    font-size: 25px;
}

.full-row-size {
    width: 100%;
}

.connected {
    margin-top: 3px;
    margin-left: 5px;
    color: green;
}

.disconnected {
    margin-top: 3px;
    margin-left: 5px;
    color: red;
}

.thumbnail {
    height: 30px;
}